# TODO Titleb


Recommendation: Use Jupyter Lab -> View -> Render Side by Side, and Right Click on Cell -> Enable Scrolling for Outputs
Recommendation: Use Jupyter Lab's left side bar to navigate between sections

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
from importlib import reload
from core import analysis_utils as au
reload(au);

In [7]:
CURRENT_YEAR = 2022
PATH_GENERAL_DATA = "./data/csv/2022-09-19_general_data.csv"
PATH_LINK_DATA = "./data/csv/2022-09-19_link_data.csv"
PATH_POLL_DATA = "./data/csv/2022-09-19_poll_data.csv"

In [3]:
gen_df = pd.read_csv(PATH_GENERAL_DATA)
link_df = pd.read_csv(PATH_LINK_DATA)
poll_df = pd.read_csv(PATH_POLL_DATA)

## General Data

Most numbers are `int`, with `float` for statistical measures. Twenty-seven (27) games are missing descriptions.

In [4]:
au.print_titled_text("Nulls and Datatypes")
gen_df.info()
au.print_spacer()
au.print_null_count(gen_df)
au.print_spacer()
au.print_titled_text("Description")
display(gen_df.describe())

NULLS AND DATATYPES
===================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108015 entries, 0 to 108014
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       108015 non-null  int64
 1   type                     108015 non-null  object
 2   name                     108015 non-null  object
 3   description              107988 non-null  object
 4   year_published           108015 non-null  int64
 5   players_min              108015 non-null  int64
 6   players_max              108015 non-null  int64
 7   playtime                 108015 non-null  int64
 8   playtime_min             108015 non-null  int64
 9   playtime_max             108015 non-null  int64
 10  age_min                  108015 non-null  int64
 11  ratings_n                108015 non-null  int64
 12  ratings_mean             108015 non-null  float64
 13  ratings_bayes_average    108015 non-null  float64
 14  ratings_stddev           108015 non-null  float64
 15  ratings_median           108015 non-null  float64
 16  ratings_owned            108015 non-null  int64
 17  ratings_trading          108015 non-null  int64
 18  ratings_wanting          108015 non-null  int64
 19  ratings_wishing          108015 non-null  int64
 20  ratings_comments_n       108015 non-null  int64
 21  ratings_weights_n        108015 non-null  int64
 22  ratings_weights_average  108015 non-null  float64
dtypes: float64(5), int64(15), object(3)
memory usage: 19.0+ MB



NULL COUNTS
===========
description: 27



DESCRIPTION
===========

,id,year_published,players_min,players_max,playtime,playtime_min,playtime_max,age_min,ratings_n,ratings_mean,ratings_bayes_average,ratings_stddev,ratings_median,ratings_owned,ratings_trading,ratings_wanting,ratings_wishing,ratings_comments_n,ratings_weights_n,ratings_weights_average
count,108015.000000,108015.000000,108015.000000,108015.000000,1.080150e+05,108015.000000,1.080150e+05,108015.000000,108015.000000,108015.000000,108015.000000,108015.000000,108015.0,108015.000000,108015.000000,108015.000000,108015.000000,108015.000000,108015.000000,108015.000000
mean,144502.139046,1826.884525,1.992279,6.459381,1.095789e+03,41.055659,1.095789e+03,7.484081,194.979262,4.584989,1.226673,0.899536,0.0,340.307948,9.703402,9.470861,54.275573,47.778383,10.928158,0.846159
std,116161.241706,567.429968,0.846712,49.568074,2.179718e+05,556.653931,2.179718e+05,7.816799,1802.471195,2.984667,2.343914,0.882034,0.0,2675.559029,51.038205,55.819807,393.731692,327.203946,97.638728,1.101630
min,1.000000,-3500.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31041.500000,1988.000000,2.000000,2.000000,1.000000e+01,10.000000,1.000000e+01,4.000000,1.000000,1.000000,0.000000,0.000000,0.0,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,129564.000000,2008.000000,2.000000,4.000000,3.000000e+01,20.000000,3.000000e+01,8.000000,3.000000,5.583000,0.000000,1.000000,0.0,8.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000
75%,247799.500000,2016.000000,2.000000,6.000000,6.000000e+01,45.000000,6.000000e+01,12.000000,21.000000,6.769000,0.000000,1.533850,0.0,57.000000,2.000000,2.000000,9.000000,10.000000,2.000000,1.667000
max,362381.000000,2026.000000,50.000000,11299.000000,6.307200e+07,157680.000000,6.307200e+07,2017.000000,113935.000000,10.000000,8.469000,4.500000,0.0,178195.000000,2741.000000,1960.000000,20430.000000,20125.000000,7854.000000,5.000000

In [5]:
null_desc = gen_df[gen_df['description'].isnull()]
display(null_desc)
au.print_spacer()
au.print_titled_text('links')
au.display_id_link(null_desc['id'].iloc[0])

,id,type,name,description,year_published,players_min,players_max,playtime,playtime_min,playtime_max,...,ratings_bayes_average,ratings_stddev,ratings_median,ratings_owned,ratings_trading,ratings_wanting,ratings_wishing,ratings_comments_n,ratings_weights_n,ratings_weights_average
385,224083,boardgame,Trono Oscuro,NaN,2017,2,5,120,60,120,...,0.000,0.0000,0.0,3,0,0,1,1,0,0.0
7724,243593,boardgame,Bastille: Fallen Kingdoms,NaN,2017,3,6,1400,60,1400,...,0.000,0.0000,0.0,0,0,0,0,0,0,0.0
13398,146535,boardgame,Math Battleship Game,NaN,2013,1,0,30,30,30,...,0.000,0.0000,0.0,0,0,0,1,0,0,0.0
14112,320241,boardgame,Electric Orchard,NaN,2021,2,4,60,30,60,...,0.000,0.0000,0.0,0,0,1,2,0,0,0.0
19282,174579,boardgame,Ex-Machina,NaN,2015,2,4,10,6,10,...,0.000,0.0000,0.0,3,0,0,1,0,0,0.0
23952,261574,boardgame,Black Hole,NaN,2018,1,4,40,20,40,...,0.000,0.0000,0.0,2,0,1,0,1,0,0.0
24162,180869,boardgame,Off with His Straw Head,NaN,2015,3,5,10,10,10,...,0.000,0.0000,0.0,4,0,0,0,0,0,0.0
27085,112878,boardgame,Ammo Domini: Fight for Europe to the Last Bullet,NaN,2012,2,5,0,0,0,...,0.000,0.0000,0.0,0,0,1,12,0,0,0.0
28344,174577,boardgame,Into the Rabbit Hole,NaN,2015,2,5,15,10,15,...,0.000,0.0000,0.0,5,0,0,0,0,0,0.0
28357,170984,boardgame,Timeline: Sports et Loisirs,NaN,2014,2,8,15,15,15,...,5.533,1.6166,0.0,178,2,7,32,10,2,1.0
31977,66157,boardgame,CANNY Word Game,NaN,2010,1,6,30,30,30,...,0.000,0.0000,0.0,1,0,1,1,1,0,0.0
32613,174576,boardgame,Pre-Historic Marshmallow,NaN,2015,2,4,10,7,10,...,0.000,0.0000,0.0,4,0,0,0,0,0,0.0
37566,167101,boardgame,Airships of Oberon,NaN,2016,3,6,90,90,90,...,0.000,0.0000,0.0,0,0,4,15,1,0,0.0
38192,292179,boardgame,Hell Bent,NaN,2020,1,1,90,60,90,...,0.000,0.0000,0.0,0,0,1,4,0,0,0.0
39041,12546,boardgame,4th and Inches,NaN,1998,0,0,0,0,0,...,0.000,0.0000,0.0,1,0,0,0,0,0,0.0
40368,225737,boardgame,LittleStorm in all Kinds of Weather,NaN,2016,2,6,20,10,20,...,0.000,0.0000,0.0,1,0,0,0,1,0,0.0
48030,161795,boardgame,War & Seas,NaN,2014,0,6,0,0,0,...,0.000,0.0000,0.0,1,0,0,2,1,0,0.0
48103,225774,boardgame,I'm In Charge,NaN,0,0,0,0,0,0,...,0.000,0.0000,0.0,0,0,0,0,0,0,0.0
52194,180439,boardgame,Let's Hike!,NaN,2015,2,5,15,15,15,...,0.000,0.0000,0.0,2,0,0,0,0,0,0.0
55955,157615,boardgame,Depredadores,NaN,2014,1,1,20,20,20,...,0.000,0.0000,0.0,0,0,0,1,0,0,0.0
64645,134103,boardgame,Village Wolves,NaN,2012,9,24,30,30,30,...,0.000,1.9698,0.0,43,2,1,5,10,0,0.0
75971,180442,boardgame,Mirror Mirror,NaN,2015,2,5,25,25,25,...,0.000,0.0000,0.0,2,0,0,0,0,0,0.0
77477,139298,boardgame,War Plan Red: North American Conflict,NaN,2014,2,2,120,120,120,...,0.000,0.0000,0.0,1,0,1,0,0,0,0.0
95247,148105,boardgame,a game of gnome: the garden of seedin',NaN,2014,2,6,30,30,30,...,0.000,0.0000,0.0,1,0,0,0,0,0,0.0
95877,80813,boardgame,Cafe Pronto,NaN,2011,2,4,75,75,75,...,0.000,0.0000,0.0,0,0,0,2,1,1,3.0
100518,175210,boardgame,Unforgettable Flight!,NaN,2015,3,6,20,15,20,...,0.000,0.0000,0.0,2,0,0,0,0,0,0.0
104706,139953,boardgame,Autobahn,NaN,2013,2,4,30,30,30,...,0.000,0.0000,0.0,1,0,0,0,0,0,0.0

LINKS
=====